body{
    margin: 0;
    padding: 0;
}


.section-title{
    margin-top: 70px;
    margin-left: 80px;
    color: #3A3A3A;
    font-weight: 700;
}
.main-menu {
    margin-top: -40px;
    margin-right: 100px;
}
nav ul{
    display: flex;
    justify-content: flex-end;
}

nav ul li{
    list-style: none;
    margin-right: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 400;
}